/* *** GENERAL *** */
body {
  padding: 0px;
  margin: 0px;
  background-color: #ddd;
}

.mainScreenBody {
  background-color: #eee;
  width: 950px;
  height: fit-content;
  box-shadow: 0 0 1em #aaa;
  margin: auto;
  border: 0px solid #000;
}

/* *** HOME PAGE *** */
.bgImg {
  height: 300px;
  width: 100%;
  background-image: url("../imgs/bg03.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.verticalText {
  border: 0px solid #000;
  transform: rotate(270deg);
  position: relative;
  top: -160px;
  left: -450px;
}

.centered {
  text-align: center;
}

.bgGradientToLeft {
  height: 300px;
  width: 100%;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.bgGradientToTop {
  height: 300px;
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.bgGradientToBottom {
  height: 300px;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(238, 238, 238, 1)
  );
}

.homePageIntro {
  padding: 20px;
}

.mainImages {
  object-fit: cover;
  height: 400px;
}

.relatoBox {
  border: 0px solid #000;
  margin-top: 10px;
}

.relato {
  border: 1px solid #bbb;
  border-radius: 10px;
  background-color: #ddd;
  width: 98%;
  height: 220px;
  padding: 10px;
  margin: 10px;
}

.relatoImagem {
  width: 20%;
  padding: 5px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  border: 0px solid #000;
  float: right;
}

.relatoTexto {
  width: 40%;
  height: 100%;
  border: 0px solid #000;
  float: left;
  border-radius: 10px;
}

/* *** CONTACT PAGE *** */
.formBox {
  border: 0px solid #000;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
}

/* *** FOOTER *** */
.mainScreenFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  background-color: #666;
  color: white;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  font-size: 12px;
  padding: 10px;
}
