* {
  margin: 0px;
  padding: 0px;
}

body {
  padding-top: 15px;
}

.dark {
  background-color: #777;
  padding-top: 50px;
  padding-bottom: 50px;
}

.light {
  background-color: #ccc;
  padding-top: 50px;
  padding-bottom: 50px;
}