.bordaSimples {
  border: 2px solid #ccc;
  border-radius: 2%;
  padding: 0px;
}

.dimensaoPadrao,
.dimensaoPadrao td,
.dimensaoPadrao tr {
  width: 100px;
  height: 100px;
}

.centralizado {
  margin: auto;
}
