.bordaSimples {
  border: 5px solid #ccc;
  border-radius: 2%;
  padding: 0px;
}

.bordaSimples td {
  border: 1px solid #fff;
  background-color: #ddd;
}

.dimensaoPadrao,
.dimensaoPadrao td,
.dimensaoPadrao tr {
  width: 100px;
  height: 100px;
}

.centralizado {
  margin: auto;
}
